@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* 
    * Official DisWeb stylesheet
    
    * Other uses of this stylesheet are not allowed.

    * This site is deployed using GitHub Pages.
      Anyone should not try to tamper with DisWeb.

    The following code is minified for simple reading.
*/

.sys-darkmode {
  background-color: #000;
  color: #ffffff;
}
body    {background-color: white; color: black; font-weight: bold;}  /* Enable dark mode */

.header {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header div:nth-child(1)    {font-size: 40px; font-weight: bold;}
.header div:nth-child(2)    {font-size: 17px; font-weight: bold;}

.namespace-title    {font-family: 'Montserrat', sans-serif; font-size: 24.54px; font-weight: bold; line-height: 50px; text-align: center;}
.responsive-row {display: flex; justify-content: space-around;}
@media screen and (max-width: 700px){.responsive-row{flex-direction: column;}}
@media screen and (min-width: 700px){.responsive-row{flex-direction: row;}}
.row-item div:nth-child(1)  {font-size: 20px; font-weight: bold; font-family: 'Montserrat', sans-serif;}
.row-item div:nth-child(2)  {font-size: 15.5px; font-family: 'Montserrat', sans-serif;}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}

.navbar .navbtn {transition-duration: 0.3s; width: 40px; background: linear-gradient(120deg, rgb(133, 18, 228), rgb(228, 9, 217)); height: 40px; border-radius: 20px; text-align: center; line-height: 40px; color: white; cursor: default; user-select: none; -webkit-user-select: none;}
.navbar .navbtn span{display: none; font-family: 'Montserrat', sans-serif; font-weight: bold; text-transform: uppercase; color: white;}
.navbar .navbtn i{display: inline-block;}
.navbar .navbtn:hover span{display: inline-block;}
.navbar .navbtn:hover{width: 200px;}