@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

/* 
    * Official DisWeb stylesheet
    
    * Other uses of this stylesheet are not allowed.

    * This site is deployed using GitHub Pages.
      Anyone should not try to tamper with DisWeb.

    The following code is minified.
*/

body    {background-color: black; color: white;}

.header {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header div:nth-child(1)    {font-size: 40px; font-weight: bold;}
.header div:nth-child(2)    {font-size: 17px; font-weight: bold;}

.namespace-title    {font-family: 'Montserrat', sans-serif; font-size: 24.54px; font-weight: bold; line-height: 50px; text-align: center;}
.responsive-row {display: flex; justify-content: space-around;}
@media screen and (max-width: 500px){.responsive-row{flex-direction: column;}}
@media screen and (min-width: 500px){.responsive-row{flex-direction: row;}}
.row-item div:nth-child(1)  {font-size: 20px; font-weight: bold; font-family: 'Montserrat', sans-serif;}
.row-item div:nth-child(2)  {font-size: 15.5px; font-family: 'Montserrat', sans-serif;}